<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#EDA" data-toc-modified-id="EDA-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>EDA</a></span></li></ul></div>

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [8]:
df = pd.read_excel(r'C:\Users\Raphael Costa\Desktop\Thiago\Data Mining\IronHack\GitHub\FCDATA\databases\creditcardmarketing.xlsx')

# EDA

In [14]:
df= df.drop(['Customer Number'], axis=1)

In [15]:
df.head(5)

,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Offer Accepted        18000 non-null  object
 1   Reward                18000 non-null  object
 2   Mailer Type           18000 non-null  object
 3   Income Level          18000 non-null  object
 4   # Bank Accounts Open  18000 non-null  int64
 5   Overdraft Protection  18000 non-null  object
 6   Credit Rating         18000 non-null  object
 7   # Credit Cards Held   18000 non-null  int64
 8   # Homes Owned         18000 non-null  int64
 9   Household Size        18000 non-null  int64
 10  Own Your Home         18000 non-null  object
 11  Average Balance       17976 non-null  float64
 12  Q1 Balance            17976 non-null  float64
 13  Q2 Balance            17976 non-null  float64
 14  Q3 Balance            17976 non-null  float64
 15  Q4 Balance            17976 non-null  float64
dtypes: float64(5), int64(4), object(7)
memory usage: 2.2+ MB

- empty values in average balance, q1, q2, q3, q4 balance = study them